.card {
    width: 70%;
    margin: auto;
    height: $card-height;
    display: flex;
    justify-content: space-around;
    background-color: $clr-secondary;
    color: $clr-tertiary;
    border-radius: $card-radius;
    border: solid 7px $clr-primary;
    @include card-shadow;
    @include font(mattone);
    padding-top: $card-pdg;
    padding-bottom: $card-pdg;
    @include mobile-only {
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: 90%;
        height: auto;
        @include card-shadow-mobile;
        border: solid 5px $clr-primary;
        padding: 20px;
    }
    &__pic {
        width: $card-part-width;
        border: solid 5px $clr-tertiary;
        border-radius: $img-radius;
        overflow: hidden;
        position: relative;
        @include mobile-only {
            width: 100%;
            height: $card-height / 3;
        }
        &__opac {
            @include div-fill-container;
            @include img-transition;
        }
        &:hover {
            .card__pic__opac {
                opacity: 1;
            }
        }
    }
    &__message {
        width: $card-part-width;
        @include mobile-only {
            width: 100%;
        }
        &__author {
            @include author-font;
            position: relative;
            width: max-content;
            max-width: 100%;
            margin-top: 0;
            @include mobile-only {
                margin-top: 25px;
                font-size: map-get($map: $font-size, $key: big-min);
            }
            &::after {
                content: "";
                position: absolute;
                width: 75%;
                height: 5px;
                left: 0;
                bottom: -20px;
                background-color: $clr-primary;
                border-radius: 2rem;
            }
            &.card__message__author--long {
                font-size: 2.5rem;
                @include mobile-only {
                    font-size: 2rem;
                    height: auto;
                }
            }    
        }
        &__txt {
            margin-top: 80px;
            margin-bottom: 50px;
            font-size: map-get($map: $font-size, $key: med-meh);
            line-height: 2;
            @include mobile-only {
                margin-top: 50px;
                margin-bottom: 25px;
                font-size: map-get($map: $font-size, $key: med);
            }
            &.card__message__txt--less-margin {
                margin-top: 50px;
                margin-bottom: 30px;
            }
            &.card__message__txt--sm {
                font-size: 1rem;
            }
            &.card__message__txt--xs {
                font-size: .9rem;
            }
        }
    }
    &__audio {
        width: 50%;
        @include mobile-only {
            width: 100%;
        }
    }
}