.card {
    width: 70%;
    margin: auto;
    height: $card-height;
    display: flex;
    justify-content: space-around;
    background-color: $clr-secondary;
    color: $clr-primary;
    @include card-shadow;
    @include font(mattone);
    padding-top: $card-pdg;
    padding-bottom: $card-pdg;
    &__pic {
        width: $card-part-width;
        border: solid 5px $clr-tertiary;
        border-radius: $img-radius;
        overflow: hidden;
        position: relative;
        &__opac {
            @include div-fill-container;
            @include img-transition;
        }
        &:hover {
            .card__pic__opac {
                opacity: 1;
            }
        }
    }
    &__message {
        width: $card-part-width;
        &__author {
            @include author-font;
        }
        &__txt {
            font-size: map-get($map: $font-size, $key: med);
            line-height: 2;
        }
    }
}