footer {
    background-color: $clr-primary;
    @include font(mattone);
    @include section-padding;
    font-size: map-get($font-size, med);
    color: $clr-secondary;
    p {
        width: 80%;
        margin: auto;
    }
}