footer {
    background-color: $clr-primary;
    height: $ftr-height;
    @include font(mattone);
    @include section-padding;
    font-size: map-get($font-size, med);
    color: $clr-secondary;
    @include mobile-only {
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto;
        font-size: map-get($font-size, med-min);
    }
    p {
        width: 80%;
        margin: auto;
        text-align: center;
        @include mobile-only {
            text-align: left;
        }
    }
}