.grid {
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include section-padding;
    &__item {
        width: $item-width;
        height: $item-height;
        background-color: $clr-primary;
        margin-bottom: $item-height / 4;
        @include item-style;
        position: relative;
        &__opac {
            @include div-fill-container;
            @include img-transition;
        }
        &:hover {
            .grid__item__opac {
                opacity: 1;
            }
        }
    }
}