.grid {
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include section-padding;
    @include mobile-only {
        padding-top: $section-padding / 3;
        padding-bottom: $section-padding / 3;
        width: 85%;
    }
    &__item {
        width: $item-width;
        height: $item-height;
        background-color: $clr-primary;
        margin-bottom: $item-height / 4;
        border-radius: $item-radius;
        overflow: hidden;
        @include item-style;
        position: relative;
        @include mobile-only {
            width: $item-width-mobile;
            height: $item-height-mobile;
            margin-bottom: $item-height-mobile / 6;
            @include item-style-mobile;
        }
        &__opac {
            @include div-fill-container;
            @include img-transition;
        }
        &:hover {
            .grid__item__opac {
                opacity: 1;
            }
        }
    }
}