@mixin font($font) {
    @if ($font == "mattone") {
        font-family: 'mattoneregular', sans-serif;
    }
    @else if ($font == "okta") {
        font-family: 'oktabold_italic', sans-serif;
    }
    @else if ($font == "okta-light") {
        font-family: 'oktaextralight', sans-serif;
    }
}

@mixin section-padding {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
}

@mixin item-style {
    box-shadow: -$item-shadow $item-shadow $clr-txt;
}

@mixin card-shadow {
    box-shadow: -$card-shadow $card-shadow $clr-primary;
}

@mixin author-font {
    font-size: map-get($map: $font-size, $key: big);
    font-weight: normal;
}