$clr-primary: #dd614a;
//#111036;
$clr-secondary: #3E2F5B;
//#94dce5;
$clr-tertiary: #F4A698;
//#FBF59B;

$item-height: 250px;
$item-width: 15%;
$item-width-mobile: 47%;
$item-height-mobile: 150px;
$item-shadow: 1rem;
$item-radius: 2rem;

$section-padding: 100px;

$ftr-height: 200px;

$hdr-height: 200px;
$hdr-return-pos: 2rem;

$content-pdg: 80px;

$card-height: 800px;
$card-part-width: 40%;
$card-radius: 2rem;
$card-shadow: 3rem;
$card-pdg: $card-height * .1;
$img-radius: 2rem;