$clr-primary: #210124;
$clr-secondary: #006c67ff;
$clr-bg: #CE713B;
$clr-title: #ef959cff;
$clr-txt: #ffd8beff;

$item-height: 250px;
$item-width: 15%;
$item-shadow: 1rem;

$section-padding: 100px;

$ftr-height: 200px;

$hdr-height: 200px;
$hdr-return-pos: 2rem;

$content-pdg: 80px;

$card-height: 800px;
$card-part-width: 40%;
$card-shadow: 2rem;
$card-pdg: $card-height * .1;